.form-container {
  padding: 30px;
  background-color: var(--colour-secondary-bg);
  max-width: 600px;
  height: calc(100vh - 60px);
}

.form-container button {
  margin-top: 20px;
}

.form-container form {
  display: flex;
  flex-wrap: wrap;
  gap: 0 10px;
}

@media (min-width: 968px) {
  .form-container {
    padding: 50px;
    height: fit-content;
  }
}
