:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--colour-primary-text);
  background-color: var(--colour-secondary-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.input-full,
.input-half {
  box-sizing: border-box;
  flex: 1 1 100%;
}

@media (min-width: 968px) {
  :root {
    background-color: var(--colour-primary-bg);
  }

  .input-half {
    flex: 1 1 calc(50% - 5px);
  }
}
