:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--colour-primary-text);
  background-color: var(--colour-primary-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.input-full {
  width: 100%;
}

.input-half {
  width: 100%;
}

@media (min-width: 968px) {
  .input-half {
    width: max(180px, 40%);
    align-self: center;
  }
}
